<Project>
  <PropertyGroup>
    <!-- Define publish-specific TargetFramework and RuntimeIdentifier -->
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
  </PropertyGroup>

  <PropertyGroup>
    <PublishDir>bin\Release\publish\win-x64\</PublishDir>
  </PropertyGroup>

  <PropertyGroup>
    <IncludeWindowsAppSDK>true</IncludeWindowsAppSDK>
  </PropertyGroup>
  
</Project>
